<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">

    <style type="text/css">
      table th {
        border: 1px solid black;
      }
    </style>
  </head>

  <body>
    <table>
      <thead>
        <tr>
          <th>Tree</th>
          <th colspan="3">Root Folder</th>
        </tr>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>File count</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        {% for tree in trees %}
        <tr>
          <td>{{ tree.id }}</td>
          <td>{{ tree.name }}</td>
          <td>{{ tree.num_files }}</td>
          <td>{{ tree.size|filesizeformat }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
